//Light Mode Colors
$light-blue: #0079ff;
$light-grey-blue: #4b6a9b;
$light-grey: #697c9a;
$light-black: #2b3442;
$light-white-grey: #f6f8ff;
$light-white: #fefefe;

//Dark Mode Colors
$dark-blue: #0079ff;
$dark-white: #ffffff;
$dark-black: #141d2f;
$dark-black-blue: #1e2a47;

//Neutral Colors
$neutral-900: #2b3442;

//UI STATES
$disabled: #4b6a9b;
$hover-dark: #90a4d4;
$hover-light: #222731;
$hover-btn: #60abff;
$error-msg: #f74646;
