@use "../styles/abstracts/colors" as *;

.dark {
    .link > svg > path {
        fill: #fff;
    }
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;

    @media (min-width: 40.625em) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 19px;
    }
}

.listItem {
    display: flex;
    color: inherit;
    font-size: 13px;
    margin-bottom: 1rem;

    @media (min-width: 40.625em) {
        font-size: 0.9375rem;
        line-height: 1.375;
        margin-bottom: 0;
    }

    &:hover {
        cursor: pointer;
    }
}

.link {
    color: inherit;
    text-decoration: none;
    margin-right: 13px;
}

.locationMargin {
    margin-right: 16px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.twitter {
    @media (min-width: 40.625em) {
        grid-column: 2;
        grid-row: 1;
    }
}
