@use "../styles/abstracts/colors" as *;

// MAIN CONTAINER
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    padding-inline: 24px;
    padding-block: 32px 1em;

    @media (min-width: 40.625em) {
        padding-inline: 2.5em;
        padding-block: 2.5em;
    }
}

// THEMES
.light {
    background-color: $light-white;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);

    .user {
        background-color: $light-white-grey;
    }
}

.dark {
    background-color: $dark-black-blue;
    .user {
        background-color: $dark-black;
    }
    .heroName {
        color: $dark-white;
    }
    .listIcon {
        fill: #fff;
    }
}

// HERO
.heroContainer {
    display: flex;
    gap: 19px;
    font-size: 13px;
    margin-bottom: 33px;

    @media (min-width: 40.625em) {
        gap: 40px;
    }
}
.heroName {
    color: $light-black;
    font-size: 1rem;
    font-weight: 700;

    @media (min-width: 40.625em) {
        font-size: 1.625rem;
    }
}

.heroLogin {
    color: $light-blue;
    font-size: inherit;
    font-weight: 400;

    @media (min-width: 40.625em) {
        font-size: 1rem;
    }
}

.heroJoined {
    font-size: inherit;
    @media (min-width: 40.625em) {
        font-size: 0.9375rem;
    }
}

.heroImage {
    max-width: 100%;
    display: block;
    height: 70px;

    @media (min-width: 40.625em) {
        width: 117px;
        height: 117px;
    }
}

//USER BODY
.text {
    font-size: 13px;
    font-weight: 400;

    @media (min-width: 40.625em) {
        font-size: 0.9375rem;
        line-height: 1.625;
    }
}

// USER META DATA
.userMetaContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.user {
    // border: 1px solid #000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 18px 15px;
    grid-auto-flow: column;
    border-radius: 10px;
}

.userData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userTitle {
    font-size: 11px;
}

.digit {
    font-size: 16px;
    font-weight: 700;
    line-height: 23.7px;
}
