@use "../abstracts/colors" as *;

body {
    padding: 0;
    margin: 0;
}

.light {
    color: $light-grey-blue;
    .text {
        color: $light-grey-blue;
    }

    .background {
        background-color: $light-white;
    }
}

.dark {
    color: $dark-white;
    .text {
        color: $dark-white;
    }
    .background {
        background-color: $dark-black-blue;
    }
}

.github-avatar {
    border-radius: 50%;
}
