@use "../abstracts/colors" as *;

body {
    padding: 0;
    margin: 0;
}

.app-container {
    display: grid;
    grid-template-columns: 24px minmax(0px, 730px) 24px;
    height: 100vh;

    @media (min-width: 375px) {
        grid-template-columns: minmax(24px, 98px) minmax(327px, 730px) minmax(
                24px,
                98px
            );
        justify-content: center;
    }

    @media (min-width: 572px) {
        align-content: center;
    }
}

.main-container {
    grid-column: 2 / 3;
}

.light {
    color: $light-grey-blue;

    .text {
        color: $light-grey-blue;
    }

    &-background {
        background-color: $light-white-grey;
    }
}

.dark {
    color: $dark-white;
    .text {
        color: $dark-white;
    }

    &-background {
        background-color: $dark-black;
    }
}

.github-avatar {
    border-radius: 50%;
}
